pandas
numpy
scikit-learn
streamlit
gdown
matplotlib
seaborn
spacy==3.7.4
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
shap==0.45.1
lime
